* {
    margin: 0;
    padding: 0;
}

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background: url(/images/pattern-bg-mobile.png) no-repeat;
}



.arrow {
    position: relative;
    top: -47px;
    left: 220px;
    border-radius: 0px 10px 10px 0px;
}

.arrow:hover {
    background-color: var(--bs-tertiary-bg);
}

.ip-info {
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.ip-address-display, .location, .timezone, .utc, .isp {
    color: var(--dark-gray)
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/*use bootstrap and API in this project*/